.admin {
  @import "./admin/core";

  .vue-form-wizard .wizard-tab-content {
    min-height: 100px;
    padding: 20px 0px;
  }

  .ql-snow .ql-toolbar button svg,
  .quillWrapper .ql-snow.ql-toolbar button svg {
    width: 18px;
    height: 18px;
  }
  .ql-picker.ql-color-picker svg {
    width: 18px;
    height: 18px;
  }


}
